<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <!-- Software menu -->
                <li ng-class="{ active: software === vm.currSoftware }" ng-repeat="software in vm.softwares">
                    <a href ng-click="vm.setSoftware(software)">{{software.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10">
            <h1> {{vm.currSoftware.name}} shortcuts </h1>
            <!-- Categories menu -->
            Filter by Category :
            <select ng-model="vm.currCategory" ng-options="cat.name for cat in vm.categories track by cat.id    " >
            </select>
            <br>
            There is : {{( vm.shortcuts | filter : { software_id : vm.currSoftware.software_id, category_id : vm.currCategory.id }).length }} rows

            <!-- Shortcuts table -->
            <div class="divtable accordion-xs">
                <div class="tr headings">
                    <div class="th shortcutskeys">Shortcut Keys</div>
                    <div class="th description">Description</div>
                    <div class="th category">Category</div>
                </div>
                <div class="tr" ng-repeat="shortcut in vm.shortcuts | filter:  { software_id: vm.currSoftware.software_id, category_id: vm.currCategory.id } ">
                    <div class="td shortcutskeys accordion-xs-toggle">
                        <img ng-src="assets/img/software/{{vm.currSoftware.name}}.png" width="25" height="25">
                        {{ shortcut.keys.join(" + ") }}
                    </div>
                    <div class="accordion-xs-collapse">
                        <div class="inner">
                            <div class="td description">{{shortcut.desc}}</div>
                            <div class="td category">{{vm.currCategory.name}}</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row mt">
                <div class="col-lg-8">
                    <h1>Use {{software.name}} faster.</h1>

                    <p>Learning the shortcuts for the application , will make you powerful, faster
                        and
                        impressive
                        programmer.</p>
                </div>
            </div>
        </div>
    </div>
</div>


